body {
    background: #ffffcc;
}

h1 {
    font-family: arial;
    font-size: 20pt;
    font-weight: bold;
    color: #ffffff;
    margin: 40px;
    text-align: center;
}

.header {
    width: 100%;
}

.topleft {
    background:#FFFFFF;
    height: 100px;
    width: 100px;
    float: left;
    padding: 10px;
 }

 .topright {
    background:#000099;
    height: 100px;
    margin: 0 0 0 100px;
    background-image: url('../images/banner.webp');
    padding: 10px;
 }

 .yellowtext {
    color: #ffff00;
 }

 .topnav {
    width: 100%;
    height: 50px;
 }

 .navbar {
    background: #094383;
    float: left;
    width: 100%;
    height: 50px;
    padding: 0;
    list-style: none;
 }

 .navbar li {
    display: inline;
 }

.navbar li a {
    background: #094383;
    float: left;
    padding: 15px 15px;
    font-family: arial;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar li a:hover {
    background: #ffff00;
    color: #ff0000;
}

.maincontent {
    margin: 0;
    padding: 20px;
}

.textJustify {
    text-align: justify;
    padding: 5px;
}

.rightImage {
    float: right;
    width: 200px;
    padding-left: 10px;
}

.leftImage {
    float: left;
    width: 200px;
    padding-right: 10px;
}

.clear {
    clear:both;
}

.footer {
    background:#094383;
    margin: 10px;
    padding: 15px;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}